@import '../../sass/variables.scss';
@import '../../sass//bases.scss';

.settings-tab {
  .form-group {
    margin-top: 5px;

    label {
      width: 150px;
    }
  
    input {
      width: 400px;
    }
  }

  &__button {
    margin-top: 10px;
    @extend %button;
  }
}
