// font
$font-base: 16px;
$line-height-base: $font-base * 1.25;


// spacing
$spacing-base: $line-height-base / 4;


// Color
$color-white: #ffffff;
$color-white-transparent: rgba($color-white, .7);

$color-primary: #447f43;