@import '../../sass//variables.scss';

.zoom-field {
  &__heading {
    margin: 0px;
  }

  &__body {
    display: flex;
    align-items: center;
    flex-direction: column;

    h5 {
      margin-bottom: 0px;
    }

    .form-group {
      input {
        width: 120px;
      }
    }
  }

  &__body-error {
    color: red;
    max-width: 250px;
    margin-top: $spacing-base * 3;
  }

  &__body-section {
    margin: 10px;
  }
}