.zoom-field {
  &__heading {
    margin: 0px;
  }

  &__body {
    display: flex;
    justify-content: center;

    h5 {
      margin-bottom: 0px;
    }

    .form-group {
      input {
        width: 120px;
      }
    }
  }

  &__body-section {
    margin: 10px;
  }
}