@import '../../sass/variables.scss';

table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: $spacing-base;
  text-align: center;
}

td {
  white-space: nowrap;
}