@import '../../sass/variables.scss';

.data-tab {
  .not-table {
    .form-group {
      margin-top: 5px;

      label {
        width: 225px;
      }
    
      input, textarea, select {
        width: 400px;
      }
    }
  }

  input:disabled {
    color: black;
     border: none;
    background: transparent;
  }
  

  .form-section-row {
    display: flex;
    flex-direction: row;

    div:first-of-type {
      margin-right: 10px;
    }
  }

  &__table-container {
    margin-top: 50px;
  }

  &__td--left {
    text-align: left;
  }

  &__td--right {
    text-align: right;
  }

  &__td--border {
    border: solid!important;
  }

  &__td--border-left {
    border-left: solid!important;
  }

  &__td--border-right {
    border-right: solid!important;
  }

  &__td--border-top {
    border-top: solid!important;
  }

  &__td--border-bottom {
    border-bottom: solid!important;
  }

  &__td--mean {
    background: lightgray;
  }

  &__td--stdev {
    background: palegreen;
  }

  &__td--dilution {
    background: lightsteelblue;
  }

  &__td--standard {
    background: white;
  }

  &__td--gray {
    background: gray;
  }

  &__row--green {
    background: mediumaquamarine;
  }

  &__row--gray {
    background: gray;
  }

  &__fixed-columns {
    position: absolute;
    left: 500;  
    z-index: 999;
    background: white;  
  }

  td {
    min-width: 70px;
    border: none;
  }

  tr {
    height: 45px;

    &:hover {
      background: lightblue!important;

      td {
        background: unset;
      }
    }
  }

  tbody {
    tr {
      th {
        min-width: 250px;
        border: none;
      }
    }
  }
}
