@import '../../../sass/mixins.scss';

.nematode-reading {
  height: 100%;
  
  &__field-container {
    display: flex;

    input {
      width: 60px;
    }
  }

  &__total {
    display: flex;
    flex-direction: row;
  }

  &__total-label {
    width: 130px;
  }

  &__total-value {
    width: 50px;
    text-align: center;
  }
}