@import '../../../sass/mixins.scss';

.reading-v2 {
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__field-container {
    display: flex;

    input {
      width: 60px;
    }
  }

  .form-group {
    label {
      white-space: nowrap;
      margin-right: 10px;
    }

    input {
      width: 70px;
    }
  }
}