@import '../../../sass/mixins.scss';

.reading {
  display: flex;

  input {
    width: 60px;
    border: 0;
  }

  // Remove spinboxes
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
      -moz-appearance:textfield; /* Firefox */
  }

  &__organism-header {
    margin: 0px;
  }

  &__type {
    background: lightgray;

    div {
      transform: rotate(270deg);
    }
  }

  &__inputs {
    border: 2px solid;
  }

  &__calculations {
    border: 2px solid;
  }

  &__section {
    &--bottom {
      border-bottom: 3px solid;
    }

    &--left {
      border-left: 3px solid;
    }

    &--right {
      border-right: 3px solid;
    }

    &--top {
      border-top: 3px solid;
    }
  }

  &__cell--no-border {
    border: none;
  }

  table {
    border: none;
  }
}