.field-observation {
  display: flex;

  &__cell {
    border: 0.5px solid;
    padding: 5px;
    text-align: center;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;

    &--field-number {
      padding: 0px;
      width: 80px;
      height: 38px;
    }

    &--header {
      font-weight: 600;
      width: 70px;
      justify-content: end;
    }

    &--footer {
      width: 90px;
    }

    &--fill {
      flex-grow: 1;

      button {
        width: 100%;
        cursor: pointer;
      }
    }
  }

  &__cells {
    &--footer {
      display: flex;
      flex-direction: column;
    }
  }

  &__edit-field {
    cursor: pointer;
  }

  .form-group--horizontal {
    // HACK: Center with this since we dont have labels
    display: inline-block;
  }
}