@import '../../../sass/mixins';
@import '../../../sass/variables';

.tabs {
  &__selector-container {
    position: fixed;
    width: 100%;
    bottom: 0px;

    @media print {
      display: none;
    }
  }

  &__selector {
    padding-left: $spacing-base;
    padding-right: $spacing-base;
    border: 1px solid;
    background: #ecebe7;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
    height: 5vh;
    cursor: pointer;

    &--active {
      box-shadow: 0px 0px 2px blue;
      background: lighten(#ecebe7, 10%);
    }

    h2 {
      font-size: $font-base;
      line-height: $line-height-base;
      margin: 0px;
    }
  }

  &__content {
    width: 99%;
    position: absolute;
    height: 94vh;
    overflow: scroll;
  }
}