.fila-proto {
  &__organism-container {
    display: flex;
    margin-bottom: 10px;

    reading-v2 {
      margin-right: 10px;
    }
  }

  &__organism-header {
    // transform: rotate(-90deg);
    align-self: center;
    min-width: 145px;
    max-width: 145px;
    text-align: center;
  }

  h2:not(:first-of-type) {
    margin-top: 40px;
  }
}