.fila-proto {
  &__actions {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    background: lightgray;
    border: 0.5px solid;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 5px;

    button:not(:first-of-type) {
      margin-top: 5px;
    }
  }

  &__organism-container {
    display: flex;

    reading-v2:not(:first-of-type) {
      margin-left: 10px;
    }
  }

  &__calcs {
    border: 0.5px solid;
    padding: 5px;
    display: inline-block;
  }

  &__calc {
    display: flex;
  }

  &__calc-header {
    width: 70px;
    font-weight: 600;
  }
}