.fila-proto {
  &__organism-container {
    display: flex;

    reading-v2:not(:first-of-type) {
      margin-left: 10px;
    }
  }

  &__calcs {
    border: 0.5px solid;
    padding: 5px;
    display: inline-block;
  }

  &__calc {
    display: flex;
  }

  &__calc-header {
    width: 70px;
    font-weight: 600;
  }

  h2:not(:first-of-type) {
    margin-top: 40px;
  }
}