.dropdown-button {
  width: 100%;
  position: relative;

  &__greeting {
    background-color: #4CAF50;
    color: white;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__arrow {
    transform: rotate(90deg);
  }
  
  &__options-container {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

    a, button {
      display: block;
      border: none;
      background: #f9f9f9;
      color: black;
      width: 100%;
      text-align: left;
      padding-top: 5px;
      padding-bottom: 5px;

      &:hover {
        background-color: lightgray;
      }
    }
  }

  &:hover {
    .dropdown-button__options-container {
      display: block;
    }

    .dropdown-button__greeting {
      background-color: #3e8e41;
    }
  }
}