.form-group {
  &--horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
      margin-bottom: 0px;
      font-weight: 600;
    }
  }

  &--disabled {
    input, select, textarea {
      cursor: not-allowed;
    }
  }

  input {
    border: 0;
    border-bottom: solid;
  }

  &__help {
    margin-left: 5px;
    margin-right: 5px;
  }
}

